*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

/* Navbar */
nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
    background: transparent;
    z-index: 1;
}

nav .logo{
    font-weight: bold;
    font-size: 2rem;
    color: #f1f1f1;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    width: 7rem;
    list-style: none;
}

nav ul li a{
    margin-left: 50px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    transition: .5s ease;
}

nav ul li a:hover{
    color: rgb(199, 150, 60);
}


/* Banner Welcome */
div.first{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.satu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    color: #f1f1f1;
}

.satu h1{
    font-weight: lighter;
    font-size: 5rem;
    margin-bottom: 10px;
}

.satu p{
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.satu a.btn{
    padding: 1rem 15px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1pt;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background: transparent;
    color: #f1f1f1;
    transition: .3s ease;
}

.satu a.btn:hover{
    background-color: #fff;
    color: rgb(199, 150, 60);
}


/* Second */
.second{
    background-color: #f1f1f1;
    height: 100vh;
    position: relative;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.second .txt{
    width: 600px;
    margin-left: -500px;
}

.second img.firstImg{
    height: 500px;
    width: auto;
    position: absolute;
    left: 55rem;
    top: 5rem;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
}

.second img.secondImg{
    height: 200px;
    width: auto;
    position: absolute;
    left: 50rem;
    top: 25rem;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
}